body {
    font-family: Arial, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-card {
    width: 300px;
    border: 2px solid #cacaca;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
}

.profile-pic {
    width: 100%;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.description {
    font-size: 14px;
    color: #636363;
}

.contacts {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px;
}

.contacts img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.contact-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.contact-btn:hover {
    background: #0056b3;
}
