body {
    margin: 0;
    text-align: center;
}

table {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
}

#c1 {
    background-color: lightblue;
    width: 50%;
}

#c2 {
    background-color: lightcoral;
    width: 50%;
}
